---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props as Props;
const isActive = href === Astro.url.pathname;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  /* a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    text-decoration: underline;
  } */
  a,
  a:link,
  a:visited {
    color: var(--color-primary);
    text-decoration: none;
    position: relative;
    padding-bottom: 4px; /* The distance between text and underline */
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(
      90deg,
      var(--color-primary),
      var(--color-primary)
    ); /* underline color */
    background-size: 0 2px; /* vertical size of underline */
    background-repeat: no-repeat;
    background-position: left bottom; /* start position of underline */
    transition: background-size 0.3s ease-in; /* duration and timing style of animation */
  }

  a:hover::before {
    background-size: 100% 2px;
  }

  a.active {
    font-weight: bolder;
  }

  a.active::before {
    background-size: 100% 2px;
  }
</style>
